.main__container {
  width: 20%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;

  text-align: center;
  border-radius: 1rem;

  padding: 1rem;

  background: var(--color-white);
}

.qr__image {
  border-radius: 0.7rem;

  width: 100%;
}

.qr__title {
  font-size: 1.5rem;
  font-weight: bold;
  font-family: var(--font-family);
  line-height: 1.7rem;

  color: var(--color-dark-blue)
}

.qr__text {
  font-size: 1rem;
  line-height: 1.2rem;
  font-weight: 500;
  font-family: var(--font-family);

  margin-bottom: 1rem;

  color: var(--color-grayish-blue);
}

.attribution {
  position: absolute;
  bottom: 0;

  font-size: 11px;
  font-family: var(--font-family);
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (max-width: 1024px) {
  .main__container {
    width: 40%;
  }
}

@media screen and (max-width: 650px) {
  .attribution {
    display: none;
  }

  .main__container {
    width: 90%;
  }

  .qr__title {
    font-size: 1.5rem;
    line-height: 1.8rem;
    padding: 0;
  }

  .qr__text {
    font-size: 1.2rem;
    line-height: 1.5rem;
    padding: 0;
  }
}
